:root {
  --key-color: #124890;
  --bg-color-a: #EFF4FA;
  --border-light: #C7D1DB;
}

body {
  background-color: var(--bg-color-a);
  margin: 0 auto;
  max-width: 1200px;
}

.entryListTab__tab:not(:first-child) {
  display: none;
}

.entryListTab__tab[aria-hidden=false] {
  display: block;
  -webkit-animation: tabFadeInFromHide 0.66s;
          animation: tabFadeInFromHide 0.66s;
}

.entryListTab.entryListTab--enabled .entryListTab__tab {
  display: none;
}

.entryListTab.entryListTab--enabled .entryListTab__tab[aria-hidden=false] {
  display: block;
  -webkit-animation: tabFadeInFromHide 0.66s;
          animation: tabFadeInFromHide 0.66s;
}

@-webkit-keyframes tabFadeInFromHide {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes tabFadeInFromHide {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.entryCategory {
  display: none;
}

.js .entryCategory,
.entryCategory ul,
.entryCategory .entryListTab__tabList {
  display: flex;
}

.entryCategory.-newsIndex {
  margin-top: 0;
  padding-top: 36px;
}

.entryCategory dt {
  margin-right: 24px;
  padding-top: 13px;
  padding-right: 24px;
  border-right: 1px solid var(--border-light);
  line-height: 1;
  font-size: 1.125rem;
}

.entryCategory dd {
  margin-left: 0;
}

.entryCategory ul,
.entryCategory .entryListTab__tabList {
  gap: 16px 13px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.entryCategory a:link,
.entryCategory a:visited {
  color: var(--key-color);
  text-decoration: none;
}

.entryCategory a:hover,
.entryCategory a:active,
.entryCategory a:focus {
  border-color: var(--key-color);
  background-color: var(--key-color);
  color: #fff;
}

.entryCategory a,
.entryCategory button {
  position: relative;
  display: block;
  padding: 15px 24px;
  border: 1px solid var(--border-light);
  border-radius: 22px;
  background-color: #fff;
  line-height: 1;
  color: var(--key-color);
  font-size: 0.875rem;
  font-weight: bold;
}

.entryCategory a[aria-current=true],
.entryCategory a[aria-selected=true],
.entryCategory button[aria-current=true],
.entryCategory button[aria-selected=true] {
  border-color: var(--key-color);
  background-color: var(--key-color);
  color: #fff;
}

.entryCategory a[aria-current=true]::after,
.entryCategory a[aria-selected=true]::after,
.entryCategory button[aria-current=true]::after,
.entryCategory button[aria-selected=true]::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: "";
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: var(--key-color) transparent transparent transparent;
  width: 0;
  height: 0;
}

.entryList {
  padding-left: 0;
  list-style: none;
}

.entryList__item:not(:first-child) {
  margin-top: 1.25em;
}

.entryList__anchor {
  display: grid;
  gap: 10px;
  grid-template-columns: 140px 150px 1fr;
  grid-template-rows: 1fr;
  align-items: start;
  padding: 16px 32px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  text-decoration: none;
}

.entryList__anchor:link,
.entryList__anchor:visited {
  color: var(--text-color);
}

.entryList__anchor:hover,
.entryList__anchor:active,
.entryList__anchor:focus {
  border-color: var(--key-color);
  color: var(--key-color);
}

.entryList__anchor:hover .entryList__title,
.entryList__anchor:active .entryList__title,
.entryList__anchor:focus .entryList__title {
  text-decoration: underline;
}

.entryList__date,
.entryList__category {
  line-height: 1;
}

.entryList__date {
  margin-top: 0.375em;
}

.entryList__categoryText {
  display: inline-block;
  padding: 6px 5px;
  width: 100%;
  background-color: var(--bg-color-a);
  font-size: 0.875rem;
  text-align: center;
}

.entryList__title {
  grid-column: 3/4;
  padding-left: 2.9%;
  line-height: 1.75;
  font-weight: bold;
}
